@import "ember-bootstrap/bootstrap";

body {
  background-color: gray;
}

.container {
  margin-top: 20px;
}

login-panel, main-panel {
  display: block;
}

login-panel form {
  max-width: 300px;
}

main-panel.jumbotron {
  border-top-left-radius: 0px;
  
  .quiz-list {
    max-width: 300px;
    
    quiz-title {
      margin-right: 10px;
    }
  }
}

.nav-link:not(.active) {
  color: white;
  
  &:hover {
    color: black;
    background-color: white;
  }
}